<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="quartz" value="https://www.myget.org/F/quartznet/api/v3/index.json" />
    <add key="ppwcode-next" value="https://peopleware.myget.org/F/ppwcode-next/api/v3/index.json" />
  </packageSources>
</configuration>
